* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

header {
  height: 160px;
  background-color: coral;
}

section {
  border: 2px solid black;
  font-size: 16px;
}

section div {
  height: 25vh;
  width: 10rem;
  min-width: 100px;
  max-width: 200px;
  margin: 20px;
  line-height: 150px;
  display: inline-block;
  background-color: lightpink;
  text-align: center;
}

footer {
  background-color: burlywood;
  height: 150px;
}

.ad {
  background-color: aqua;
}

@media print {
  .ad {
    display: none
  }
}

/* This targets mobile phone devices which typically have screen width less than 600px */
@media screen and (max-width: 600px) {
  section {
    background-color: blueviolet;
  }
}

/* This targets tablet devices which typically have screen width less than 800px */
@media screen and (min-width: 601px) and (max-width: 800px) {
  section {
    background-color: red;
  }
}
