@import '_variables';

h2 {
  font-size: 42px;
  text-decoration: underline;
  color: $primary-color;
  border: $border;
}

// <div class="content">
//   <h2>Hello World</h2>
//   <div>
//     <span>Join now!</span>
//   </div>
// </div>

div.content {
  font-size: 20px;
  margin: 15px;
  display: flex;

  h2 {
    text-decoration: underline;
    flex-grow: 1;
  }

  div {
    font-size: 12px;
    margin-bottom: 11px;

    span {
      color: orange;
    }
  }
}

.header-styles {
  font-size: 12px;
  text-transform: capitalize;
}

.my-selector {
  @extend .header-styles;
  color: blue;
}

@mixin make-square($num, $color) {
  width: $num * 50px;
  height: $num * 50px;
  font-size: 15px;
  color: $color;
}

.sm-square {
  @include make-square(1, green);
  width: 500%;
}

.med-square {
  @include make-square(3, blue);
}

.lg-square {
  @include make-square(5, brown);
}
